ion-header
	ion-navbar(secondary)
		ion-title {{ checklist.title }}
		ion-buttons(end)
			button((click)="uncheck()")
				ion-icon(name="refresh-circle")
			button((click)="add()")
				ion-icon(name="add-circle")

ion-content
	ion-list(no-lines)
		ion-item-sliding(*ngFor="let item of checklist.items")
			ion-item
				ion-label {{ item.title }}
				ion-checkbox(secondary, [checked]="item.checked", (click)="toggle(item)")

			ion-item-options
				button(color="light")
					ion-icon(name="clipboard")
					span Rename
				button(color="danger", (click)="remove(item)")
					ion-icon(name="trash")
					span Delete
