ion-header
	ion-navbar(secondary)
		ion-title {{ checklist.title }}
		ion-buttons(end)
			button
				ion-icon(name="refresh-circle")
			button((click)="add()")
				ion-icon(name="add-circle")

ion-content
	ion-list(no-lines)
		ion-item-sliding(*ngFor="let item of checklist.items")
			ion-item
				ion-label {{ item.title }}
				ion-checkbox(secondary, [checked]="item.checked")

			ion-item-options
				button(light)
					ion-icon(name="clipboard")
				button(danger)
					ion-icon(name="trash")
