.home {
    .item {
        ion-item-content {
            font-size: 2.3rem;
        }
        .detail {
            color: color($colors, muted);
            font-size: 1.5rem;
            display: block;
        }
    }
}
